@import "src/styles";

// Get rid of the spinners
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  height: 2rem;
  border-radius: 0;
  border: 1px solid $grey;
  padding-left: 8px;
  min-width: 5rem;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  color: white;

  &.dec {
    background-color: $red;
    border: 1px solid $red;
    border-right: none;
  }

  &.inc {
    background-color: $green;
    border: 1px solid $green;
    border-left: none;
  }
}
