<div class="counter-input-wrapper">
  <button class="dec" (click)="dec()">
    <fa-icon [icon]="faMinus"></fa-icon>
  </button>
  <input type="number" [(ngModel)]="count" [min]="minValue" [max]="maxValue" />
  <button class="inc" (click)="inc()">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
