<app-card [title]="'Paging'" [subTitle]="'Components'">
  <app-paging body [totalItems]="200"></app-paging>
</app-card>

<app-card [title]="'Simple Table'" [subTitle]="'Components'">
  <app-simple-table body></app-simple-table>
</app-card>

<app-card [title]="'Counter Input'" [subTitle]="'Components'">
  <app-counter-input body [maxValue]="20"></app-counter-input>
</app-card>

<app-card [title]="'Search List'" [subTitle]="'Components'">
  <app-search-list
    body
    [items]="['Apple', 'Pear', 'Peach', 'Strawberry']"
  ></app-search-list>
  <p footer>
    A search box with a list of items which updates matching the search term.
  </p>
</app-card>

<app-card [title]="'Debounce Search'" [subTitle]="'Components'">
  <app-debounce-search body></app-debounce-search>
  <p footer>
    A simple search box debouncing the input by 0.25s useful for reducing calls.
  </p>
</app-card>

<app-card [title]="'Rich Text Viewer'" [subTitle]="'Components'">
  <div body>
    <div>
      <h3>Good Example</h3>
      <app-rich-text-viewer
        [htmlText]="'<p>Hello World</p>'"
      ></app-rich-text-viewer>
    </div>
    <div>
      <h3>Empty Example</h3>
      <app-rich-text-viewer [htmlText]="'    '"></app-rich-text-viewer>
    </div>
    <div>
      <h3>Bad HTML Example</h3>
      <app-rich-text-viewer
        [htmlText]="'<p> Hello World'"
      ></app-rich-text-viewer>
    </div>
  </div>
  <p footer>Utilizing a validation for correct HTML code.</p>
</app-card>

<app-card [title]="'Toggle'" [subTitle]="'Components'">
  <app-toggle body [label]="'Toggle me'"></app-toggle>
</app-card>

<app-card [title]="'Quote'" [subTitle]="'Components'">
  <app-quote
    body
    [quote]="'There´s glitter on the floor after the party.'"
    [author]="'Taylor Swift'"
    [occupation]="'Singer/Songwriter'"
  ></app-quote>
</app-card>

<app-card [title]="'Modal'" [subTitle]="'Components'">
  <app-modal body [title]="'Modal Example'" #modal>
    <p>Some Content</p>
  </app-modal>
  <div footer (click)="modal.open()"><button>Show Modal</button></div>
</app-card>

<app-card [title]="'Linkedin Post'" [subTitle]="'Components'">
  <app-linkedin-post body></app-linkedin-post>
</app-card>

<app-card [title]="'Twitter Post'" [subTitle]="'Components'">
  <app-twitter-post body></app-twitter-post>
</app-card>

<app-card [title]="'Credit Card Input'" [subTitle]="'Components'">
  <div body style="display: flex; flex-direction: column; gap: 1rem">
    <app-credit-card
      [readonly]="false"
      [creditCardNumber]="'1111222233334444'"
    ></app-credit-card>
    <app-credit-card
      [readonly]="true"
      [creditCardNumber]="'1111222233334444'"
    ></app-credit-card>
  </div>
</app-card>

<app-card [title]="'Loader'" [subTitle]="'Components'">
  <div body class="loader-card-body">
    <app-loading
      [isLoading]="isLoading"
      [loaderType]="loaderType"
    ></app-loading>
    <div class="controls">
      <div class="type-select">
        <label for="loaderType">Select Loader Type</label>
        <select
          class="form-control"
          id="loaderType"
          required
          [(ngModel)]="loaderType"
          name="loaderType"
        >
          <option
            *ngFor="let type of loaderTypes"
            [value]="type"
            id="loaderType"
          >
            {{ type }}
          </option>
        </select>
      </div>
      <button (click)="load()" class="load-btn">Load</button>
    </div>
  </div>
  <p footer>Fullscreen loading animation. Press ESC to close.</p>
</app-card>

<app-card [title]="'Top of Page'" [subTitle]="'Components'">
  <p body>Scroll 400px down the page to see the magic.</p>
  <!-- See last component on this page -->
</app-card>

<app-card [title]="'Star Rating'" [subTitle]="'Components'">
  <div
    class="ratings"
    body
    style="display: flex; flex-direction: row; gap: 2rem"
  >
    <app-star-rating body [rating]="3.6"></app-star-rating>
    <app-star-rating body [rating]="7.3" [maxRating]="10"></app-star-rating>
  </div>
  <p footer>
    Star rating component with customizable maximum rating. <br />
    <em
      >Improvement ideas: Customizable icon & color, editable rating via
      click</em
    >
  </p>
</app-card>

<app-card [title]="'Progress Bar'" [subTitle]="'Components'">
  <app-progress-bar body [value]="progressValue"></app-progress-bar>
  <button footer (click)="updateProgress()">Update</button>
</app-card>

<app-card [title]="'Accordion'" [subTitle]="'Components'">
  <app-accordion body [items]="accordionItems"></app-accordion>
</app-card>

<app-card [title]="'Card'" [subTitle]="'Components'">
  <p body>Body content</p>
  <p footer>Footer content</p>
</app-card>

<app-top-of-page></app-top-of-page>
