.loader-card-body {
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .type-select {
      display: flex;
      flex-direction: column;

      label {
        font-size: small;
      }
    }

    .load-btn {
      width: 5rem;
    }
  }
}
