<div class="credit-card-wrapper">
  <div class="input-container">
    <fa-icon [icon]="getIcon()"></fa-icon>
    <input
      type="text"
      [(ngModel)]="creditCardNumber"
      required
      maxlength="16"
      [readonly]="readonly"
    />
  </div>
</div>
