.credit-card-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  .input-container {
    position: relative;

    input {
      padding: 10px;
      padding-left: 2.5em;
      width: 15rem;
    }

    fa-icon {
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translate(-50%, -50%);
    }
  }
}
