<ul>
  <li>
    <button (click)="setPage(currentPage - step)" [disabled]="isPrevDisabled">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
  </li>
  <li *ngFor="let page of pages">
    <button
      [ngClass]="{ 'current-page': currentPage === page }"
      (click)="setPage(page)"
    >
      {{ page }}
    </button>
  </li>
  <li>
    <button (click)="setPage(currentPage + step)" [disabled]="isNextDisabled">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </li>
</ul>
