@import "src/styles";

ul {
  display: flex;
  padding: 5;
  justify-content: center;
  list-style: none;

  li {
    display: inline;
    margin: 3px;

    button {
      border: none;
      background-color: white;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      cursor: pointer;

      @include box-shadow();

      &.current-page {
        background-color: $blue;
        color: white;
        transition: all 0.3s;
      }
    }
  }
}
