@import "../../../styles.scss";

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
  margin: 1rem;

  @include box-shadow();

  .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: $green;
    color: white;
    border-radius: 3px 3px 0 0;

    .title {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: baseline;
    }
  }

  .body {
    padding: 1rem;
  }

  .footer {
    padding: 0.2rem 1rem;
  }
}
