<div class="star-rating-wrapper">
  <fa-icon [icon]="faStar" *ngFor="let star of fullStars"></fa-icon>
  <fa-icon [icon]="faHalfStar" *ngIf="hasHalfStar"></fa-icon>
  <fa-icon [icon]="faStarEmpty" *ngFor="let star of emptyStars"></fa-icon>
</div>
