<app-card [title]="'Debounce Click'" [subTitle]="'Directives'">
  <button body appDebounceClick (debounceClick)="log()">Log</button>
  <p footer>Directive that debounces a click event for up to 500ms.</p>
</app-card>
