@import "src/styles";

.search-list-wrapper {
  ul {
    position: relative;
    list-style: none;

    .items-container {
      position: absolute;
      width: 100%;
      background-color: white;

      @include box-shadow();

      li {
        transition: all 0.3s;
        cursor: pointer;
        padding: 3px;

        &:hover {
          background-color: $blue;
          color: white;
        }
      }
    }
  }
}
