<div class="toggle-wrapper">
  <div class="toggle" (click)="toggle()">
    <div
      class="handle"
      [ngClass]="{ active: selected, inactive: !selected }"
    ></div>
  </div>
  <div class="label" *ngIf="label != ''">{{ label }}</div>
</div>
