@import "src/styles";

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .toggle {
    cursor: pointer;
    width: 3rem;
    height: 1.5rem;
    border: 2px solid darkgray;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
  }

  .handle {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);

    &.active {
      background-color: $green;
      transform: translateX(1.3rem) translateY(-50%);
    }

    &.inactive {
      background-color: $red;
    }
  }
}
