.modal-wrapper {
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  min-width: 250px;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  top: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
  padding: 20px;
  transform: display 0.3s;

  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    border: none;
    background-color: white;
    cursor: pointer;
    width: 2rem;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  backdrop-filter: blur(1px);
  transition: opacity 0.3s;
}

.hidden {
  display: none;
  opacity: 0;
}
