<div class="modal-wrapper" [ngClass]="{ hidden: isHidden }">
  <div class="modal-header">
    <h5>{{ title }}</h5>
    <button (click)="close()"><fa-icon [icon]="faTimes"></fa-icon></button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
</div>

<div class="modal-overlay" [ngClass]="{ hidden: isHidden }"></div>
