@import "../../../styles.scss";

.to-top-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  border: none;
  background-color: $blue;
  color: white;
  margin: 1rem;

  @include box-shadow();
  transition: all 0.3s;
}
