<blockquote class="quote-wrapper">
  <div>
    <fa-icon [icon]="faQuoteLeft"></fa-icon>
    <p class="quote">{{ quote }}</p>
  </div>
  <footer class="source">
    <p class="author">{{ author }}</p>
    <p class="occupation">{{ occupation }}</p>
  </footer>
</blockquote>
