@import "../../../styles.scss";

.quote-wrapper {
  background-color: $blue;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-left: 10px solid #0064a6;

  .quote {
    font-size: x-large;
    margin-left: 10%;
  }

  .source {
    justify-self: end;
    align-self: flex-end;
    text-align: right;

    .author {
      font-weight: bold;
      text-transform: uppercase;
    }

    .occupation {
      font-style: italic;
      font-size: small;
    }
  }
}
