<app-card [title]="'Filter Term'" [subTitle]="'Pipes'">
  <div body>{{ ["Hello", "World", "Hello World"] | filterTerm: "Hello" }}</div>
  <p footer>Filters a list of strings by a custom term.</p>
</app-card>

<app-card [title]="'Flatten'" [subTitle]="'Pipes'">
  <div body>{{ flattenData | flatten }}</div>
  <div class="footer" footer>
    <button (click)="modifyFlatten()">Modify</button>
    <button (click)="reassignFlatten()">Reassign</button>
    <p footer style="margin-top: 1rem">Recursively flattens any array.</p>
  </div>
</app-card>

<app-card [title]="'Truncate'" [subTitle]="'Pipes'">
  <p body>
    {{
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi obcaecati eligendi fugiat dolore iusto illo modi ut distinctio dolorem debitis rem quas nisi porro, magnam harum eius magni minus adipisci? Quae ullam itaque labore veritatis omnis illum laudantium mollitia tempore, non dolorem doloribus ducimus eligendi totam ea exercitationem cum iure!"
        | truncate: 120
    }}
  </p>
  <p footer>
    Truncates any text at a custom length and adds 3 dots to show that the text
    was truncated.
  </p>
</app-card>

<app-card [title]="'Credit Card Formatter'" [subTitle]="'Pipes'">
  <div body>
    <p>{{ "12345678901234567" | creditCardFormatter }}</p>
    <p>{{ "123456789012345" | creditCardFormatter }}</p>
    <p>{{ "1234567890123456" | creditCardFormatter }}</p>
    <p>{{ "123456A.9012345" | creditCardFormatter }}</p>
  </div>
  <p footer>Validates and formats inputs for credit card numbers.</p>
</app-card>
