@import "src/styles";

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  position: relative;

  small {
    position: absolute;
    left: 50%;
    right: 50%;
    color: white;
  }

  progress {
    width: 100%;
    height: 2rem;
    background-color: white;
    transition: all 1s;
  }

  progress::-webkit-progress-bar {
    background-color: rgb(202, 202, 202);
  }

  progress[value]::-webkit-progress-value {
    background-color: $blue;
    transition: all 3s;
  }

  progress[value]::-webkit-progress-bar,
  progress[value]::-webkit-progress-value {
    border-radius: 1rem;
  }
}
