<app-toolbar [title]="'100 Angular Challenges'">
  <ul>
    <li><a [routerLink]="'components'">Components</a></li>
    <li><a [routerLink]="'directives'">Directives</a></li>
    <li><a [routerLink]="'services'">Services</a></li>
    <li><a [routerLink]="'pipes'">Pipes</a></li>
    <li><a [routerLink]="'others'">Others</a></li>
  </ul>
</app-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<app-top-of-page></app-top-of-page>
