@import "../../../styles.scss";

.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  backdrop-filter: blur(3px);

  .loader-container {
    display: flex;
    justify-content: center;

    .loader {
      position: absolute;
      top: 35%;

      h1 {
        width: 10rem;
      }

      .circular {
        border: 10px solid #eee;
        border-radius: 50%;
        border-top: 10px solid $blue;
        width: 100px;
        height: 100px;
        animation: spin 1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
