<div class="loading-overlay" [hidden]="!isLoading">
  <div class="loader-container">
    <div class="loader">
      <ng-container [ngSwitch]="loaderType">
        <div class="circular" *ngSwitchCase="LoaderType.Circular"></div>
        <h1 class="text" *ngSwitchCase="LoaderType.Text">{{ loadingText }}</h1>
      </ng-container>
    </div>
  </div>
</div>
