@import "../../../styles.scss";

.accordion-wrapper {
  @include box-shadow();

  .item {
    border-bottom: 1px solid $light-grey;
    padding: 1rem;

    .header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      user-select: none;

      fa-icon {
        transition: all 0.3s;
        cursor: pointer;

        &.is-expanded {
          transform: rotate(-180deg);
        }
      }
    }
  }
}
