<div class="accordion-wrapper">
  <div class="item" *ngFor="let item of items">
    <div class="header" (click)="toggle(item)">
      <h4>{{ item.title }}</h4>
      <fa-icon
        [icon]="faChevronDown"
        [class.is-expanded]="item.isExpanded"
      ></fa-icon>
    </div>
    <div class="content" [hidden]="!item.isExpanded">
      <p>{{ item.content }}</p>
    </div>
  </div>
</div>
